@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

@layer components{
  .form{
    @apply bg-white h-[70%] w-[90%] sm:w-[550px] md:w-[650px] rounded-lg text-lg shadow-lg p-5 sm:px-7 text-gray-600 [&>.header]:text-4xl [&>.header]:text-primary sm:[&>.header]:text-center [&>.header]:font-bold [&>.header]:mb-12
  }
}